body {
  background-color: black;
  text-align: center;
}

img {
  display: block;
  margin: auto;
}

button {
  border: solid silver;
  border-radius: 15px;
  background-color: white;
  color: rgb(58, 57, 57);
  font-size: 32px;
  margin: 16px 0;
  padding: 10px 20px;
  cursor: pointer;
}
